*{
    margin: 0px;
    padding: 0px;
}

body{
    font-family: 'Noto Sans', sans-serif;
}

/* Navbar */

.navbar-fix{
    position: sticky;
    top: 0;
    z-index: 99;
}

.navbar-container{
    background-color: #FEA624;
    background: linear-gradient(to right, #FEA624, #DF8B10);
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    padding: .8em 0em;
}

.navbar-logo {
    width: 2.2em;
}

.navbar-box-1{
    display: flex;
    align-items: center;
    padding-left: 1em;
}

.navbar-box-2{
    display: flex;
    align-items: center;
}

.navbar-searchbar-box{
    width: 100%;
}

.menu-icon{
    color: white;
    font-size: 1em;
}



/* Search Bar CSS */

.search-form-container{
    width: 100%;
    margin: auto;
}

.searchbar-container{
    display: flex;
    margin: .5em;
}

.search-input-box{
    width: 100%;
}

.searchbar-input{
    -webkit-appearance: none;
    outline: none;
    border: none;
    border-radius: 8px 0px 0px 8px;
    -webkit-border-radius: 8px 0px 0px 8px;
    -moz-border-radius: 8px 0px 0px 8px;
    -ms-border-radius: 8px 0px 0px 8px;
    -o-border-radius: 8px 0px 0px 8px;
    width: 100%;
    font-size: 1em;
    padding: 0.8em;
    color: #555555;
}

.search-button-box{
    background:white;
    border-radius: 0px 8px 8px 0px;
    -webkit-border-radius: 0px 8px 8px 0px;
    -moz-border-radius: 0px 8px 8px 0px;
    -ms-border-radius: 0px 8px 8px 0px;
    -o-border-radius: 0px 8px 8px 0px;
    display: flex;
    align-items: center;
    width: 3em;
    justify-content: center;
}

.search-button{
    -webkit-appearance: none;
    border: none;
    outline: none;
    padding-right: 10px;
    background-color: white;
    border-radius:0px 8px 8px 0px;
    -webkit-border-radius:0px 8px 8px 0px;
    -moz-border-radius:0px 8px 8px 0px;
    -ms-border-radius:0px 8px 8px 0px;
    -o-border-radius:0px 8px 8px 0px;
    cursor: pointer;
}

.searchbar-icon{
    color: #4d4d4d;
    font-size: 2em;
}

.searchbar-icon:hover{
    color: #2f2f2f;
    transition: .5s;
    -webkit-transition: .5s;
    -moz-transition: .5s;
    -ms-transition: .5s;
    -o-transition: .5s;
}

/* ending search bar css code */

.navbar-box-3{
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.profile-text{
    font-size: 1em;
    color: white;
}

.navbar-profile-image{
    width: 3em;
    border-radius: 100%;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    -ms-border-radius: 100%;
    -o-border-radius: 100%;
}

.navbar-icon{
    font-size: 1.2em;
    font-weight: lighter;
    color: white;
}


.bottom-navbar-container{
    display: flex;
    background-color: #F1F1F1;
    padding: .1em;
    align-items: center;
    border: #DADADA 1px solid;
    color: #4c4c4c;
}

.bottom-navbar-box-3{
    display: flex;
    justify-content: center;
    flex-grow: 5;
    
}

.bottom-nav-text{
    font-size: .9em;
}

.bottom-navbar-box-3 > li {
    list-style: none;
    padding-left: 1em;
    font-size: .9em;
}

.location-icon-on-nav{
    font-size: 1.4em;
    padding-left: 1em;
    padding-right: .3em;
}

/* Navbar */


.content-container{
   display: grid;
   grid-template-columns: 1fr  2fr 1fr;
   margin-left: 1em;
   margin-right: 1em;
}

.profile-container{
    background-color: #F6F6F6;
}

.profile-card-background-color{
    background: linear-gradient(to bottom, skyblue, royalblue);
    text-align: center;
    height: 10em;
}

.profile-card-image{
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    width: 6em;
    border: 5px solid #F6F6F6;
    position: relative;
    top: 100px;
}

.profile-card-details{
    text-align: center;
    position: relative;
    top: 64px;
    padding: 2em;
    background-color: #F6F6F6;
    border-radius: 0px 0px 8px 8px;
    -webkit-border-radius: 0px 0px 8px 8px;
    -moz-border-radius: 0px 0px 8px 8px;
    -ms-border-radius: 0px 0px 8px 8px;
    -o-border-radius: 0px 0px 8px 8px;
}

.profile-content > h1{
        font-size: 1.2em;
}

.profile-content > p{
        font-size: 0.9em;
}

.fa-facebook-f{
    color: blue;
    font-size: 1.2em;
    padding-left: 1em;
}

.fa-twitter{ 
    color: skyblue;
    font-size: 1.2em;
    padding-left: 1em;
}

.fa-youtube{
    color: red;
    font-size: 1.2em;
    padding-left: 1em;
}

.fa-instagram{
    color: palevioletred;
    font-size: 1.2em;
    padding-left: 1em;
}
